.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} GuessWho

  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li
        %a{href: "#{root_path}"}
          %i.fa.fa-home
          Home
      %li
        %a{href: "#{start_path}"}
          %i.fa.fa-plus
          Start New Game
      - if session[:history] && session[:history].count > 0
        %li
          %a{href: "#{play_path}"}
            %i.fa.fa-play
            Continue
