.row
  .well.col-xs-12
    - if @guesses.count <= 1
      %h3
        Were you thinking of a...
    - else
      %h3
        Hmm. I'm torn between a few options. Were you thinking of any of these?
    %h2
      %center
        -@guesses.each do |animal|
          %h1
            =animal.name
    %br
    .row
      .col-xs-6
        =link_to "Home", root_path, class: "btn btn-primary btn-lg"
        =link_to "Play Again", start_path, class: "btn btn-primary btn-lg"
